{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
<h3>{% trans "Current time: " %}{% now "jS F Y H:i" %}</h3>
{% blocktrans %}
<h3>MetaTrader-X Trade Reporting System</h3>
<p>Total User: {{ total_user }}</p>
<p>Total Orders: {{ total_orders }}</p>
<p>Total Operation Centers: {{ total_operation_centers }}</p>
{% endblocktrans %}
<p>Operation Center Gain/Loss:</p>
<div>
    {% render_table operation_centers %}
</div>
<p>Top Gainers:</p>
<div>
    {% render_table profits %}
</div>
<ul>
</ul>
{% endblock %}
