{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
<h3>{% trans "Current time: " %}{% now "jS F Y H:i" %}</h3>
{% blocktrans %}
<h3>MetaTrader-X Trade Reporting System</h3>
<p>Total User: {{ total_user }}</p>
<p>Total Orders: {{ total_orders }}</p>
<p>Total Operation Centers: {{ total_operation_centers }}</p>
<p>Operation Center Gain/Loss:</p>
<p>Top Gainers:</p>
<ul>
</ul>
{% endblocktrans %}
{% endblock %}
