{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load humanize %}

{% block meta_title %}{% trans "User Detail" %}{% endblock %}
{% block title %}<p style="text-align:center">{% trans "User Detail" %}</p>{% endblock %}


{% block main %}
<ul>
    <li>{% trans "User Name" %}: {{ user.first_name }} {{ user.last_name }}</li>
    <li>{% trans "User Email" %}: {{ user.email }} </li>
    <li>{% trans "User Date of Birth" %}: {{ user.profile.date_of_birth }}</li>
    <li>{% trans "User Phone Number" %}: {{ user.profile.phone_number}} </li>
</ul>
<div>
    <h3 style="text-align:center">{% trans "User Profits" %}</h3>
        {% render_table profits %}
</div>
<div>
    <h3 style="text-align:center">{% trans "User Orders" %}</h3>
        {% render_table orders %}
</div>
{% endblock %}
